body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

h1 {
  margin-top: 10px;
  font-size: 26px;
}

.subtitle {
  opacity: 0.8;
  margin-bottom: 25px;
}

#wishlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  color: black;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  color: green;
  font-weight: bold;
}

.buy-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background: #ff4141;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
